{% extends 'bookshop/base.html' %}
{% load static %}
<title>{% block title %} Checkout | Bookshop {% endblock%}</title>
{% block content %} 
    <div class="ps-hero">
        <div class="container">
            <h3>Order Detail</h3>
            <p>Page Order</p>
        </div>
    </div>
    <div class="ps-checkout pt-40 pb-40">
        <div class="ps-container">
            <form class="ps-form--checkout"  method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                        <div class="ps-checkout__billing">
                            <div class="form-group form-group--inline">
                                <label>Name<span>*</span>
                                </label>
                                <div class="form-group__content">
                                    <input class="form-control" type="text" name="first_name" required>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                        <div class="ps-checkout__order">
                            <header>
                                <h3>Your Order</h3>
                            </header>
                            <div class="content">
                                <table class="table ps-checkout__products">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase">Product</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart %}
                                        
                                            <tr>
                                                <td>{{ item.product.name }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <footer>
                                <h3>Payment Method</h3>
                                
                                <div class="form-group paypal">
                                    <button class="ps-btn ps-btn--fullwidth">Process to Payment</button>
                                </div>
                            </footer>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}
